@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
/* Theme 1 */
/* Backgrounds */
:root {
    --theme1-main-background: hsl(222, 26%, 31%);
    --theme1-toggle-keypad-background: hsl(223, 31%, 20%);
    --theme1-screen-background: hsl(224, 36%, 15%);
  
    /* Keys */
    --theme1-key-background: hsl(225, 21%, 49%);
    --theme1-key-shadow: hsl(224, 28%, 35%);
    --theme1-key-background-toggle: hsl(6, 63%, 50%);
    --theme1-key-shadow-toggle: hsl(6, 70%, 34%);
    --theme1-key-background-light: hsl(30, 25%, 89%);
    --theme1-key-shadow-light: hsl(28, 16%, 65%);
  
    /* Text */
    --theme1-text-dark-grayish-blue: hsl(221, 14%, 31%);
    --theme1-text-white: hsl(0, 0%, 100%);
  }
  
  /* Theme 2 */
  /* Backgrounds */
  :root {
    --theme2-main-background: hsl(0, 0%, 90%);
    --theme2-toggle-keypad-background: hsl(0, 5%, 81%);
    --theme2-screen-background: hsl(0, 0%, 93%);
  
    /* Keys */
    --theme2-key-background: hsl(185, 42%, 37%);
    --theme2-key-shadow: hsl(185, 58%, 25%);
    --theme2-key-background-toggle: hsl(25, 98%, 40%);
    --theme2-key-shadow-toggle: hsl(25, 99%, 27%);
    --theme2-key-background-light: hsl(45, 7%, 89%);
    --theme2-key-shadow-light: hsl(35, 11%, 61%);
  
    /* Text */
    --theme2-text-dark-grayish-yellow: hsl(60, 10%, 19%);
    --theme2-text-white: hsl(0, 0%, 100%);
  }
  
  /* Theme 3 */
  /* Backgrounds */
  :root {
    --theme3-main-background: hsl(268, 75%, 9%);
    --theme3-toggle-keypad-screen-background: hsl(268, 71%, 12%);
  
    /* Keys */
    --theme3-key-background: hsl(281, 89%, 26%);
    --theme3-key-shadow: hsl(285, 91%, 52%);
    --theme3-key-background-toggle: hsl(176, 100%, 44%);
    --theme3-key-shadow-toggle: hsl(177, 92%, 70%);
    --theme3-key-background-dark: hsl(268, 47%, 21%);
    --theme3-key-shadow-dark: hsl(290, 70%, 36%);
  
    /* Text */
    --theme3-text-light-yellow: hsl(52, 100%, 62%);
    --theme3-text-dark-blue: hsl(198, 20%, 13%);
    --theme3-text-white: hsl(0, 0%, 100%);
  }
  

*{
    padding:0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body{
    font-size: 32px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background: var(--theme1-main-background);
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    
}

.container{
    width: 500px;
    height: 650px;
    
}

.head_calculator{
    height: 15%;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
.head_calculator .calc{
    font-size: 32px;
    color: var(--theme1-text-white);
    margin-left: 05px;
}

.form_calc{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_calc .label_theme{
    font-size: 15px;
    margin: 0 15px;
    color: var(--theme1-text-white);
}
.form_calc .container_number_option{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 36px;
}
.container_number_option .container_number{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container_number_option .container_number p{
  font-size: 13px;
  color: var(--theme1-text-white);
  cursor: pointer;
  margin-bottom: 5px;
}

 .form_calc .container_option{
  background: var(--theme1-toggle-keypad-background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 23px;
  width: 60px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
} 


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  background-color: var(--theme1-key-shadow-toggle);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  transition: background 0.3ms ease-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--theme1-key-background-toggle);
 
}
/* screen */


.screen_calculator{
    height: 20%;
    width: 100%;
    display: flex;
   justify-content: center;
}
.screen_calculator input{
  width: 100%;
  height: 90px;
  border-radius: 10px;
  outline: none;
  border: none;
  background:var(--theme1-screen-background);
  color: var(--theme1-text-white);
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
  direction: rtl;
}
/* body calc */
.body_calculator{
    height: 60%;
    width: 100%;
    background: var(--theme1-toggle-keypad-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.body_calculator .top_btn{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 3px;
}
.top_btn .btn{
  flex: 0 0 20%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'League Spartan';
  cursor: pointer;
  color: var(--theme1-main-background); 
  background:  var(--theme1-key-background-light);
  box-shadow: 0px 4.8px 1px var( --theme1-text-dark-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_btn .del{
  color:var(--theme1-text-white) ;
  background: var(--theme1-key-background);
  box-shadow: 0px 4.8px 1px var( --theme1-main-background);
}
.bottom_btn      {
  width: 91%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_btn .btt_btn{
  flex: 0 0 44%;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 30px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'League Spartan';
  display: flex;
  align-items: center;
  justify-content: center;
}